extends ../main

block title
	| Главная страница

block content
	include ../_common/_i-owl
	include ../_common/_i-projects
	include ../_common/_i-about
	include ../_common/_i-news
	include ../_common/_i-workers
	include ../_common/_i-questions
	include ../_common/_i-gallery
	include ../_common/_i-partners