script(type="text/javascript", src="static/js/ext/jquery-migrate-3.0.0.js")
script(type="text/javascript", src="static/js/ext/jquery.mask.min.js")
script(type="text/javascript", src="static/js/ext/jquery-ui.min.js")
script(type="text/javascript", src="static/js/ext/jquery.dotdotdot.min.js")
//- script(type="text/javascript", src="static/js/ext/jquery.fancybox.min.js")
script(type="text/javascript", src="static/js/ext/jquery.fancybox-3.min.js")
script(type="text/javascript", src="static/js/ext/fotorama.js")
script(type="text/javascript", src="static/js/ext/jquery.formstyler.min.js")
script(type="text/javascript", src="static/js/ext/owl.carousel.min.js")
script(type="text/javascript", src="static/js/ext/jquery.mmenu.all.js")
script(type="text/javascript", src="static/js/ext/jquery.mCustomScrollbar.concat.min.js")
script(type="text/javascript", src="static/js/ext/slick.min.js")
script(type="text/javascript", src="static/js/ext/masonry.pkgd.min.js")
script(type="text/javascript", src="static/js/script.js")