.error
	.error__title 404
	.error-content
		h1.error-content__title Страница не найдена
		.error-content__desc Возможно она была удалена или ее никогда не было на сайте. <br>Вы можете перейти на <a class="error__link" href="index.html">главную страницу</a> или воспользоваться картой сайта.
	.error-map
		h2.error-map__title Карта сайта:
		ul.error-map-list
			li.error-map-item
				a.error-map-item__link(href="/") Главная
			li.error-map-item
				a.error-map-item__link(href="projects.html") Проекты
				ul.error-map-dropdown-list
					li.error-map-dropdown-item
						a.error-map-dropdown-item__link(href="#") Строительство нового бизнеса «Высотка»
					li.error-map-dropdown-item
						a.error-map-dropdown-item__link(href="#") Открытие нового бизнеса
					li.error-map-dropdown-item
						a.error-map-dropdown-item__link(href="#") Строительство спортивного объекта «Олимп»
					li.error-map-dropdown-item
						a.error-map-dropdown-item__link(href="#") Открытие бизнес-центра.
			li.error-map-item
				a.error-map-item__link(href="/") О компании
				ul.error-map-dropdown-list
					ul.error-map-dropdown-item
						a.error-map-dropdown-item__link(href="#") Новости
			li.error-map-item
				a.error-map-item__link(href="/") Сотрудники
				ul.error-map-dropdown-list
					li.error-map-dropdown-item
						a.error-map-dropdown-item__link(href="#") Пшеничников Сергей Сергеевич
					li.error-map-dropdown-item
						a.error-map-dropdown-item__link(href="#") Чингин Юрий Арвитович
					li.error-map-dropdown-item
						a.error-map-dropdown-item__link(href="#") Сторудник 3
					li.error-map-dropdown-item
						a.error-map-dropdown-item__link(href="#") Сотрудник 4
			li.error-map-item
				a.error-map-item__link(href="/") Вопросы и ответы
			li.error-map-item
				a.error-map-item__link(href="/") Контакты