.checkbox
	label.checkbox-label
		input.checkbox-label__input(type="checkbox" name="", data-type="checkbox", data-req="req")
		.checkbox-label__fake
		.checkbox-label__text Cогласен на обработку 
	a.checkbox__link(href="#") персональных данных
