.filter
	form.filter-form
		ul.filter-form-list
			li.filter-form-item.filter-form-item--type
				.filter-form-item__title Тип проекта:
				select.filter-form-item-select.styler
					//- option(disabled, selected, value="-1")
					option Жилой комплекс
					option Бизнес-центр
					option Бизнес-парк
					option Жилой комплекс
					option Жилой комплекс
					option Жилой комплекс
			li.filter-form-item.filter-form-item--period
				.filter-form-item__title Период проекта:
				select.filter-form-item-select.styler
					//- option(disabled, selected, value="-1")
					option 2014
					option 2015
					option 2016
					option 2017
					option 2017
					option 2017
		.filter-form-btns
			input.filter-form-btn.btn-blue(type="submit" value="Показать") 
