footer.footer
	.container
		.footer-copyright
			.footer-copyright-logo
				a.footer-copyright-logo-link(href="/")
					img.footer-copyright-logo-link__img(src="./img/logo-footer.png" alt="")
			.footer-copyright__desc City-Developer © 2016-2017
		.footer-contacts
			.footer-contacts__point 115054, Россия, Москва, Валовая улица, д. 26 (12 этаж)
			.footer-contacts-phone
				.footer-contacts-phone__text +7 (495) 788-55-75
				a.footer-contacts-phone__link(href="tel:+74957885575") +7 (495) 788-55-75
			.footer-contacts-mail
				a.footer-contacts-mail__link(href="mailto:info@city-developer.ru") info@city-developer.ru
		.footer-dev
			a.footer-dev-link(href="#")
				.footer-dev-link__key Разработка сайта:
				.footer-dev-link__value Интернет-агентство Dextra
