section.i-about.section
	.container
		.i-about-head.section-head
			.i-about-head__title.section-head__title О компании
		.i-about-body.content
			.i-about-body-top
				.i-about-body-top-content
					p Основным направлением деятельности компании является оказание услуг в сфере строительства в Москве и Московской области, а именно: технический надзор за строительством, выполнение функций технического заказчика, строительный консалтинг и оценка объектов недвижимости. 
					p Общая площадь проектов, реализованных Сити-Девелопер, составляет более 150 тыс. кв.м. коммерческой недвижимости.
					p В своей работе мы используем современные технологии организации труда, которые позволяют нашим клиентам своевременно получать полную и объективную информацию о ходе строительного процесса и качестве выполненных работ. Сити-Девелопер является партнером инвестиционной компании O1Properties, это дает нам возможность приобретать опыт реализации высококачественных и амбициозных проектов.
					p Основным направлением деятельности компании является оказание услуг в сфере строительства в Москве и Московской области, а именно: технический надзор за строительством, выполнение функций технического заказчика, строительный консалтинг и оценка объектов недвижимости. 
					p Общая площадь проектов, реализованных Сити-Девелопер, составляет более 150 тыс. кв.м. коммерческой недвижимости.
					p В своей работе мы используем современные технологии организации труда, которые позволяют нашим клиентам своевременно получать полную и объективную информацию о ходе строительного процесса и качестве выполненных работ. Сити-Девелопер является партнером инвестиционной компании O1Properties, это дает нам возможность приобретать опыт реализации высококачественных и амбициозных проектов.
					p Основным направлением деятельности компании является оказание услуг в сфере строительства в Москве и Московской области, а именно: технический надзор за строительством, выполнение функций технического заказчика, строительный консалтинг и оценка объектов недвижимости. 
				.i-about-body-top-img
					img.i-about-body-top-img__pic(src="./img/i-about.jpg")
			.i-about-body-bottom
				img.i-about-body-bottom__img(src="./img/i-about.jpg")
