section.i-gallery.section
	.container
		.i-gallery-body
			ul.i-gallery-list
				li.i-gallery-item
					a.i-gallery-item-link(href="#")
						.i-gallery-item-content
							.i-gallery-item-content__title Система качества
							.i-gallery-item-content__desc
								| Система контроля качества компании основывается на профессионализиме сотрудников и строгом следовании требованиям строительных норм и правил. Система контроля качества компании основывается на профессионализиме сотрудников и строгом следовании требованиям строительных норм и правил. Система контроля качества компании основывается на профессионализиме сотрудников и строгом следовании требованиям строительных норм и правил.
							.i-gallery-item-content__link Подробнее
						.i-gallery-item-img
							img.i-gallery-item-img__pic(src="./img/i-gallery.jpg")
				li.i-gallery-item
					a.i-gallery-item-link(href="#")
						.i-gallery-item-content
							.i-gallery-item-content__title Система качества
							.i-gallery-item-content__desc
								| Система контроля качества компании основывается на профессионализиме сотрудников и строгом следовании требованиям строительных норм и правил.
							.i-gallery-item-content__link Подробнее
						.i-gallery-item-img
							img.i-gallery-item-img__pic(src="./img/i-gallery.jpg")
				li.i-gallery-item
					a.i-gallery-item-link(href="#")
						.i-gallery-item-content
							.i-gallery-item-content__title Система качества
							.i-gallery-item-content__desc
								| Система контроля качества компании основывается на профессионализиме сотрудников и строгом следовании требованиям строительных норм и правил.
							.i-gallery-item-content__link Подробнее
						.i-gallery-item-img
							img.i-gallery-item-img__pic(src="./img/i-gallery.jpg")