section.i-news.section
	.container
		.i-news-head.section-head
			.i-news-head__title.section-head__title Новости
		.i-news-body.section-body
			.i-news-owl.js-i-news-owl
				include _i-news-owl-item
				include _i-news-owl-item
				include _i-news-owl-item
			a.i-news-body__link.section-body__link(href="news.html") Все новости