section.i-owl
	.i-owl-list.js-i-owl
		.i-owl-item
			img.i-owl-item__img(src="./img/i-owl.img")
			.i-owl-item-content
				.i-owl-item-content__title 
					| Услуги технического контроля и надзора в строительстве
				.i-owl-item-content__desc
					| Основным направлением деятельности компании является оказание услуг<br> в сфере строительства в Москве и Московской области.
		.i-owl-item
			img.i-owl-item__img(src="./img/i-owl.img")
			.i-owl-item-content
				.i-owl-item-content__title 
						| Услуги технического контроля и надзора в строительстве
				.i-owl-item-content__desc
					| Основным направлением деятельности компании является оказание услуг<br> в сфере строительства в Москве и Московской области.
		.i-owl-item
			img.i-owl-item__img(src="./img/i-owl.img")
			.i-owl-item-content
				.i-owl-item-content__title 
						| Услуги технического контроля и надзора в строительстве
				.i-owl-item-content__desc
					| Основным направлением деятельности компании является оказание услуг<br> в сфере строительства в Москве и Московской области.
	include _header-main
	include _header