.i-projects-owl-item
	.i-projects-owl-item-top
		.i-projects-owl-item-block
			a.i-projects-owl-item-link(href="project.html")
				.i-projects-owl-item-content
					.i-projects-owl-item-content__title
						| Открытие нового бизнес-парка нового бизнес-парка
					.i-projects-owl-item-content__desc
						| Олимпия Парк представляет новое поколение бизнес-парков, пересматривающих стандарты организации рабочей среды. Олимпия Парк представляет новое поколение бизнес-парков, пересматривающих стандарты организации рабочей среды. Олимпия Парк представляет новое поколение бизнес-парков, пересматривающих стандарты организации рабочей среды. Олимпия Парк представляет новое поколение бизнес-парков, пересматривающих стандарты организации рабочей среды.
					.i-projects-owl-item-content__link Подробнее
				.i-projects-owl-item-img
					img.i-projects-owl-item-img__pic(src="./img/projects-owl.jpg")
	.i-projects-owl-item-bottom
		.i-projects-owl-item-block
			a.i-projects-owl-item-link(href="project.html")
				.i-projects-owl-item-content
					.i-projects-owl-item-content__title
						| Строительство ЖК
					.i-projects-owl-item-content__desc
						| Элитный жилой комплекс, расположенный в престижном деловом районе Москвы. Дом на 75 квартир окружает охраняемая благоустроенная территория.
					.i-projects-owl-item-content__link Подробнее
				.i-projects-owl-item-img
					img.i-projects-owl-item-img__pic(src="./img/projects-owl.jpg")