section.i-projects.section
	.container
		.i-projects-head.section-head
			.i-projects-head__title.section-head__title Проекты
		.i-projects-body
			.i-projects-owl.js-i-projects-owl
				include _i-projects-owl-item
				include _i-projects-owl-item
				include _i-projects-owl-item