section.i-partners.section
	.container
		.i-partners-head.section-head
			.i-partners-head__title.section-head__title Партнёры
		.i-partners-body
			.i-partners-body-content.content
				//- .i-partners-owl.js-i-partners-owl
				//- 	.i-partners-owl-item
				//- 		img.i-partners-owl-item__img(src="./img/i-partners.png")
				//- 	.i-partners-owl-item
				//- 		img.i-partners-owl-item__img(src="./img/i-partners_1.png")
				//- 	.i-partners-owl-item
				//- 		img.i-partners-owl-item__img(src="./img/i-partners.png")
				//- 	.i-partners-owl-item
				//- 		img.i-partners-owl-item__img(src="./img/i-partners_2.png")
				//- 	.i-partners-owl-item
				//- 		img.i-partners-owl-item__img(src="./img/i-partners.png")
				//- 	.i-partners-owl-item
				//- 		img.i-partners-owl-item__img(src="./img/i-partners.png")