li.i-questions-block-item.i-questions-block-item--quest
	.i-questions-block-item__title Вопрос
	.i-questions-block-item__desc 
		| У меня на руках свой чертеж/проект. Сможет ли ваша компания по нему построить объект?  Сколько это будет стоить?
li.i-questions-block-item.i-questions-block-item--answer
	.i-questions-block-item__title Ответ
	.i-questions-block-item__desc 
		| Мы с радостью беремся за индивидуальные проекты наших клиентов. Для того, чтобы мы дали объективную оценку сроков и стоимости, отправьте ваш проект нам на почту stroy-mir33@mail.ru cо своими комментариями . Через 1 рабочий день мы дадим вам четкий ответ и план по вашему проекту. Через 1 рабочий день мы дадим вам четкий ответ и план по вашему проекту ...