section.i-questions.section
	.container-min
		.i-questions-head.section-head
			.i-questions-head__title.section-head__title Вопросы
		.i-questions-body.section-body
			.i-questions-owl.js-i-questions-owl
				.i-questions-owl-item
					.i-questions-block
						ul.i-questions-block-list
							li.i-questions-block-item.i-questions-block-item--quest
								.i-questions-block-item__title Вопрос
								.i-questions-block-item__desc 
									| У меня на руках свой чертеж/проект. Сможет ли ваша компания по нему построить объект?  Сколько это будет стоить?
							li.i-questions-block-item.i-questions-block-item--answer
								.i-questions-block-item__title Ответ
								.i-questions-block-item__desc 
									| Мы с радостью беремся за индивидуальные проекты наших клиентов. Для того, чтобы мы дали объективную оценку сроков и стоимости, отправьте ваш проект нам на почту stroy-mir33@mail.ru cо своими комментариями . Через 1 рабочий день мы дадим вам четкий ответ и план по вашему проекту. Через 1 рабочий день мы дадим вам четкий ответ и план по вашему проекту
								.i-questions-block-item__desc.i-questions-block-item__desc--toggle
									| Мы с радостью беремся за индивидуальные проекты наших клиентов. Для того, чтобы мы дали объективную оценку сроков и стоимости, отправьте ваш проект нам на почту stroy-mir33@mail.ru cо своими комментариями . Через 1 рабочий день мы дадим вам четкий ответ и план по вашему проекту. Через 1 рабочий день мы дадим вам четкий ответ и план по вашему проекту ...
						a.i-questions-block-toggle.js-questions-toggle(href="#") Развернуть
				.i-questions-owl-item
					.i-questions-block
						ul.i-questions-block-list
							li.i-questions-block-item.i-questions-block-item--quest
								.i-questions-block-item__title Вопрос
								.i-questions-block-item__desc 
									| У меня на руках свой чертеж/проект. Сможет ли ваша компания по нему построить объект?  Сколько это будет стоить?
							li.i-questions-block-item.i-questions-block-item--answer
								.i-questions-block-item__title Ответ
								.i-questions-block-item__desc 
									| Мы с радостью беремся за индивидуальные проекты наших клиентов. Для того, чтобы мы дали объективную оценку сроков и стоимости, отправьте ваш проект нам на почту stroy-mir33@mail.ru cо своими комментариями . Через 1 рабочий день мы дадим вам четкий ответ и план по вашему проекту. Через 1 рабочий день мы дадим вам четкий ответ и план по вашему проекту
								.i-questions-block-item__desc.i-questions-block-item__desc--toggle
									| Мы с радостью беремся за индивидуальные проекты наших клиентов. Для того, чтобы мы дали объективную оценку сроков и стоимости, отправьте ваш проект нам на почту stroy-mir33@mail.ru cо своими комментариями . Через 1 рабочий день мы дадим вам четкий ответ и план по вашему проекту. Через 1 рабочий день мы дадим вам четкий ответ и план по вашему проекту ...
						a.i-questions-block-toggle.js-questions-toggle(href="#") Развернуть
				.i-questions-owl-item
					.i-questions-block
						ul.i-questions-block-list
							li.i-questions-block-item.i-questions-block-item--quest
								.i-questions-block-item__title Вопрос
								.i-questions-block-item__desc 
									| У меня на руках свой чертеж/проект. Сможет ли ваша компания по нему построить объект?  Сколько это будет стоить?
							li.i-questions-block-item.i-questions-block-item--answer
								.i-questions-block-item__title Ответ
								.i-questions-block-item__desc 
									| Мы с радостью беремся за индивидуальные проекты наших клиентов. Для того, чтобы мы дали объективную оценку сроков и стоимости, отправьте ваш проект нам на почту stroy-mir33@mail.ru cо своими комментариями . Через 1 рабочий день мы дадим вам четкий ответ и план по вашему проекту. Через 1 рабочий день мы дадим вам четкий ответ и план по вашему проекту
								.i-questions-block-item__desc.i-questions-block-item__desc--toggle
									| Мы с радостью беремся за индивидуальные проекты наших клиентов. Для того, чтобы мы дали объективную оценку сроков и стоимости, отправьте ваш проект нам на почту stroy-mir33@mail.ru cо своими комментариями . Через 1 рабочий день мы дадим вам четкий ответ и план по вашему проекту. Через 1 рабочий день мы дадим вам четкий ответ и план по вашему проекту ...
						a.i-questions-block-toggle.js-questions-toggle(href="#") Развернуть
			a.i-questions-body__link.section-body__link(href="questions.html") Все вопросы
