section.i-workers.section
	.container-min
		.i-workers-head.section-head
			.i-workers-head__title.section-head__title Сотрудники
		.i-workers-body.section-body
			.i-workers-owl.js-i-workers-owl
					include _i-worker-item
					include _i-worker-item
					include _i-worker-item
					include _i-worker-item
					include _i-worker-item
					include _i-worker-item
					include _i-worker-item
			a.i-workers-body__link.section-body__link(href="workers.html") Все сотрудники
