.i-workers-owl-item
	a.i-worker-owl-item-link(href="worker.html")
		.i-worker-owl-item-img
			img.i-worker-owl-item-img__pic(src="./img/worker.jpg" alt="")
		.i-worker-owl-item-content
			.i-worker-owl-item-content__title Пшеничников<br> Сергей Сергеевич
			.i-worker-owl-item-content__post Генеральный директор
			.i-worker-owl-item-content__desc Цитата. «Процесс строительства включает в себя все (...) работы.»