.content
	h1 Типовая — Museo Sans (заголовок первого уровня) в две строки, для межстрочного интервала

	p Основным направлением деятельности компании является оказание услуг в сфере строительства в Москве и Московской области, а именно: технический надзор за строительством, выполнение функций технического заказчика, строительный консалтинг и оценка объектов недвижимости. 

	p Общая площадь проектов, реализованных Сити-Девелопер, составляет более 150 тыс. кв.м. коммерческой недвижимости.

	img(src="./img/i-owl.img")

	p Информация об изображении

	p Основным направлением деятельности компании является оказание услуг в сфере строительства в Москве и Московской области, а именно: технический надзор за строительством, выполнение функций технического заказчика, строительный консалтинг и оценка объектов недвижимости. 

	p Общая площадь проектов, реализованных Сити-Девелопер, составляет более 150 тыс. кв.м. коммерческой недвижимости.

	h2 Правила оформления документов на строительство (заголовок второго уровня) в две строки, чтобы показать межстрочный интервал

	p Основным направлением деятельности компании является оказание услуг в сфере строительства в Москве и Московской области, а именно: технический надзор за строительством, выполнение функций технического заказчика, строительный консалтинг и оценка объектов недвижимости. Общая площадь проектов, реализованных Сити-Девелопер, составляет более 150 тыс. кв.м. коммерческой недвижимости.В своей работе мы используем современные технологии организации труда, которые позволяют нашим клиентам своевременно получать полную и объективную информацию о ходе строительного процесса и качестве выполненных работ. Сити-Девелопер является партнером инвестиционной компании O1Properties, это дает нам возможность приобретать опыт реализации высококачественных и амбициозных проектов.

	p Основным направлением <a href="#">деятельности компании</a> является оказание услуг в сфере строительства в Москве и Московской области, а именно: технический надзор за строительством, выполнение функций технического заказчика, строительный консалтинг и оценка объектов недвижимости.

	h3 Услуги Сити-Девелопер в рамках технического надзора. Контроль соответствия выполняемых строительно-монтажных работ,  (заголовок третьего уровня)

	p Электронная тендерная площадка – публичный сервис, предоставляющий возможность организациям самостоятельно отслеживать и принимать участие в конкурсах ООО "Сити-Девелопер" на выбор подрядчиков по проектированию и строительно-монтажным работам. Сервис «Электронная тендерная площадка» размещается на отдельном веб-ресурсе по адресу http://tender.city-developer.ru

	ul
		li Контроль за обоснованием сроков выполнения работ и достоверностью Контроль за обоснованием сроков выполнения работ и достоверностью
		li Контроль за обоснованием сроков выполнения работ и достоверностью
		li Контроль за обоснованием сроков выполнения работ и достоверностью Контроль за обоснованием сроков выполнения работ и достоверностью
		li Контроль за обоснованием сроков выполнения работ и достоверностью

	p Электронная тендерная площадка – публичный сервис, предоставляющий возможность организациям самостоятельно отслеживать и принимать участие в конкурсах ООО "Сити-Девелопер" на выбор подрядчиков по проектированию и строительно-монтажным работам. Сервис «Электронная тендерная площадка» размещается на отдельном веб-ресурсе по адресу http://tender.city-developer.ru

	<p><strong>Таблица 1. Название таблицы</strong></p> 

	table
		tr
			td Назначение
			td Международная гостиница гостиница 3* с рестораном
		tr
			td Площадь объекта:
			td 10 000 кв.м.
		tr
			td Площадь застройки:
			td 0.7 Га
		tr
			td Адрес:
			td Москва, ул. Кожевническая, д. 8/4, стр. 3
		tr
			td Функция:
			td Технический заказчик
		tr
			td Проектировщик:
			td Кисилев и Партнеры, Штрабаг, Спортальянс
		tr
			td Подрядчики:
			td Штрабаг, Спортальянсее
		tr
			td Год сдачи:
			td 2017
		tr
			td Описание:
			td Современный отель Кортъярд Марриотт Москва Павелецкая



	p Технический надзор (технадзор) за строительством – это комплекс мероприятий, осуществляемых в интересах Заказчика строительства с целью обеспечения контроля качества строительства и имеющий целью постоянного проведения оценки соответствия строящегося объекта требованиям к его безопасности, установленным техническими регламентами, нормативными документами и стандартами.
	<p><strong>Нумерованный список</strong></p>

	ol
		li Первая строчка 
		li Вторая строчка 
		li Третья строчка 

	p Технический надзор (технадзор) за строительством – это комплекс мероприятий, осуществляемых в интересах Заказчика строительства с целью обеспечения контроля качества строительства и имеющий целью постоянного проведения оценки соответствия строящегося объекта требованиям к его безопасности, установленным техническими регламентами, нормативными документами и стандартами.