.news
	.news-head.inner-head
		h1.news-head__title.inner-head__title Новости
	.news-body
		ul.news-list
			include _news-item
			include _news-item
			include _news-item
			include _news-item
		include _pagination
