.new
	.new-head.inner-head
		h1.new-head__title.inner-head__title График работы офисов продаж «Сити-Девелопер»
	.new-body
		.new-body__date 06 / 05 / 2017
		.new-body-img
			img.new-body-img__pic(src="./img/i-owl.img")
		.new-body-content.content
			p Уважаемые дамы и господа! Компания «Сити-Девелопер» поздравляет вас с наступающими майскими праздниками! Предлагаем вашему вниманию график работы Центрального офиса продаж и офиса продаж в жилом квартале «Достояние» 1 мая, 8-9 мая 2017 года.

			p В праздничные дни Центральный офис продаж и офис продаж на объекте работают с 10.00 до 20.00. Адреса офисов продаж: Центральный офис продаж «Сити-Девелопер»: Москва, Валовая улица, д. 26 (12 этаж). Офис продаж жилого квартала «Достояние»: ул. Ярцевская д. 34

			p За дополнительной информацией обращайтесь в Департамент продаж «Сити-Девелопер» по телефону: +7 (495) 788-5575.

			p Желаем хороших выходных!

			a.new-body__back.inner-back(href="news.html") Вернуться к списку новостей