li.news-item
	a.news-item-link(href="new.html")
		.news-item-img
			img.news-item-img__pic(src="./img/i-owl.img")
		.news-item-content
			.news-item-content__title Строительство нового бизнес-центра нового бизнес-центра
			.news-item-content__date 06 / 05 / 2017
			.news-item-content__desc Дукат Плейс III – это 14-этажное офисное здание класса «А». Бизнес-центр расположен в центре Москвы.
			.news-item-content__link Подробнее