.pagination
	ul.pagination-list
		li.pagination-item.pagination-item--prev
			a.pagination-item__link(href="#")
		li.pagination-item.active
			a.pagination-item__link(href="#") 1
		li.pagination-item
			a.pagination-item__link(href="#") 2
		li.pagination-item
			a.pagination-item__link(href="#") 3
		li.pagination-item
			a.pagination-item__link(href="#") 4
		li.pagination-item
			a.pagination-item__link(href="#") 5
		li.pagination-item.pagination-item--dots
			a.pagination-item__link(href="#") ...
		li.pagination-item
			a.pagination-item__link(href="#") 99
		li.pagination-item.pagination-item--next
			a.pagination-item__link(href="#")