.project-slider-for-item
	a.project-slider-for-item-link(href="./img/project.jpg" data-fancybox="images")
		img.project-slider-for-item__img(src="./img/project.jpg" alt="")

//- .project-slider-for-item
//- 	a.project-slider-for-item-link(href="#project-fancy" data-fancybox)
//- 		img.project-slider-for-item__img(src="./img/project.jpg" alt="1")