.projects
	.projects-head.inner-head
		h1.projects-head__title.inner-head__title Проекты
	.projects-body
		include _filter
		ul.projects-list
			include _projects-item
			include _projects-item
			include _projects-item
			include _projects-item
		include _pagination