li.projects-item
	a.projects-item-link(href="project.html")
		.projects-item-img
			img.projects-item-img__pic(src="./img/projects-owl.jpg")
		.projects-item-content
			.projects-item-content__title.js-dotdot
				| Открытие нового бизнес-парка нового бизнес-парка
			.projects-item-content__date Период: 2017
			.projects-item-content__type Тип проекта: Бизнес-центр
			.projects-item-content__desc.js-dotdot
				| Олимпия Парк представляет новое поколение бизнес-парков, пересматривающих стандарты организации рабочей среды. 
			.projects-item-content__link Подробнее