.project-slider-nav-item
	a.project-slider-nav-item-link(href="#")
		img.project-slider-nav-item__img(src="./img/project.jpg" alt="")

//- .project-slider-nav-item
//- 	a.project-slider-nav-item-link(href="#")
//- 		img.project-slider-nav-item__img(src="./img/project.jpg" alt="1")