li.questions-accordion-item
	.questions-accordion-item__title.js-accordion-trigger Какова гарантия застройщика на возведенные объекты?
	.questions-accordion-item-content
		p Гарантийный срок для объекта долевого строительства, за исключением технологического и инженерного оборудования, входящего в состав такого объекта долевого строительства, устанавливается договором и не может составлять менее чем пять лет (ч. 5 ст. 7 Федерального закона № 214-ФЗ).

		p Гарантийный срок на технологическое и инженерное оборудование, входящее в состав передаваемого участникам долевого строительства объекта долевого строительства, устанавливается договором и не может составлять менее чем три года (ч. 5.1 ст. 7 Федерального закона № 214-ФЗ). 