.worker
	.worker-head.inner-head
		h1.worker-head__title.inner-head__title Пшеничников Сергей Сергеевич
		.worker-head__post Генеральный директор
	.worker-body
		.worker-body-img
			img.worker-body-img__pic(src="./img/worker.jpg")
		.worker-body-content.content
			p Цитата. « Строительный процесс включает в себя три основных этапа: Подготовительные работы (проектирование, геодезия на участке, сооружение фундаментов); строительство (сооружение стен, перегородок, кровельные работы, электромонтажные работыt и отделочные); реализация уже готовой продукции, то есть процесс сдачи в эксплуатацию (подключение и проверка коммуникаций, составление актов сдачи-приемки).»

			p Окончил Московский Государственный Университет им. М.В.Ломоносова по специальности «Экономика» (степень бакалавра). Затем Финансовую академию при Правительстве Российской Федерации по специализации «Оценка собственности».

			p В 2006 – 2009 гг. работал заместителем финансового директора по инвестиционной деятельности в ЗАО «Открытие-недвижимость», где руководил подготовкой отчетов по оценке активов, коммерческой недвижимости и инвестиционно-девелоперских проектов.

			p С 2009 г. занимает должность генерального директора ООО «Сити-Девелопер».
		.worker-body-other
			.worker-body-other__title Другие сотрудники 
			ul.workers-list
				include _worker-item
				include _worker-item
				include _worker-item
				include _worker-item
		a.worker-body__back.inner-back(href="workers.html") Вернуться к списку сотрудников
