li.workers-item
	a.workers-item-link(href="worker.html")
		.workers-item-link-img
			img.workers-item-link-img__pic(src="./img/worker.jpg" alt="")
		.workers-item-link-content
			.worker-item-content__title Пшеничников<br> Сергей Сергеевич
			.worker-item-content__post Заместитель генерального директора
			.worker-item-content__desc Цитата. «Процесс строительства включает в себя все организационные и другие работы.»