.workers
	.workers-head.inner-head
		h1.workers-head__title.inner-head__title Сотрудники
	.workers-body
		ul.workers-list
			include _worker-item 
			include _worker-item 
			include _worker-item 
			include _worker-item 
			include _worker-item 
			include _worker-item 
			include _worker-item 
			include _worker-item 
			include _worker-item 
			include _worker-item 
			include _worker-item 
			include _worker-item 
		include _pagination