.i-news {
	background-color: $section-bg;
}

.i-news-owl {
	margin-bottom: rem(110px);
	@include box-shadow(2px 0 43px rgba(0, 0, 2, .13));
}

.i-news-owl-item {
	height: rem(320px);
	@extend %clearfix;

	@include w600 {
		height: auto;
	}
}

.i-news-owl-item-link {
	display: block;
	@extend %clearfix;

	&:hover {
		.i-news-owl-item-content__link {
			border-color: $grey2;
		}
	}
}

.i-news-owl-item-img,
.i-news-owl-item-content {
	float: left;
	width: 50%;

	@include w600 {
		width: 100%;
	}
}

.i-news-owl-item-img,
.i-news-owl-item-content {
	height: rem(320px);

	@include w600 {
		height: rem(280px);
	}
}

.i-news-owl-item-img {
	position: relative;
	overflow: hidden;
}

.i-news-owl-item-img__pic {
	position: absolute;
	top: 50%;
	left: 50%;
	@include transform(translate(-50%, -50%));
}

.i-news-owl-item-content {
	padding: rem(43px) rem(50px);
	text-align: left;
	background-color: #fff;

	@include w800 {
		padding: rem(30px) rem(35px);
	}
}

.i-news-owl-item-content__title {
	height: rem(70px);
	font-family: 'Museo Sans Cyrl 100';
	margin-bottom: rem(10px);
	font-size: rem(28px);
	color: $blue;
}

.i-news-owl-item-content__date {
	margin-bottom: rem(20px);
	font-family: 'Museo Sans Cyrl 100';
	font-size: rem(15px);
	color: $grey2;
}

.i-news-owl-item-content__desc {
	height: rem(80px);
	line-height: 1.6;
	font-size: rem(15px);
	color: $black;

	@include w600 {
		height: rem(60px);
	}
}

.i-news-owl-item-content__link {
	display: inline-block;
	position: absolute;
	bottom: rem(45px);
	font-family: 'Museo Sans Cyrl 100';
	font-size: rem(16px);
	color: $grey2;
	border-bottom: 1px solid transparent;
	@include transition(.3s);

	&:after {
		content: "";
		position: absolute;
		top: 50%;
		right: -30px;
		@include transform(translateY(-50%));
		width: 19px;
		height: 9px;
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAJCAMAAADnw+cDAAAAMFBMVEWOj5GOj5GOj5GOj5GOj5GOj5GOj5GOj5GOj5GOj5GOj5GOj5GOj5GOj5GOj5GOj5FLOGR+AAAAD3RSTlMAJCovMDdLU1RdqMTi5+mJvaY9AAAAL0lEQVR4AWNABVysDBiAjY8ZU5CDlwlTkJOHkYEfA3BjVYcG2HmZMO1lAVGY7gMAmbUBwAdUvokAAAAASUVORK5CYII=)no-repeat;
	}
}